<h1>Topic</h1>

	<script>
		$(document).ready(function(){
		        $('#clickme<%= @topic.id %>').click(function(){
				alert('speaking'+ $('#my_text<%= @topic.id %>').val());
				responsiveVoice.speak($('#my_text<%= @topic.id %>').val(), "US English Female");
				});	
			});
	</script>
	
		<%= @topic.name %>
		<p><textarea col = 4 rows = 4 id="my_text<%= @topic.id %>" disabled><%= @topic.description %></textarea></p>
		<button id="clickme<%= @topic.id %>" name="clickme"> Read out to me </button>
		<%= video_tag @topic.video_link, :controls => true %>
