
    <!-- <div class="container"> -->

        <!-- Jumbotron Header -->
        <!-- <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>We are so glad you are here! Let's have some fun!</p>
        </header> -->

        <!-- <hr> -->

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Categories</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">


<% @categories.each do |category| %>
    <script>
    $(document).ready(function(){
                $('#clickme<%= category.id %>').click(function(){
                alert('speaking'+ $('#my_text<%= category.id %>').val());
                responsiveVoice.speak($('#my_text<%= category.id %>').val(), "US English Female");
                }); 
            });
    </script>
    

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                        <%= image_tag(category.image_link) %>    
                    <div class="caption">
                        <h3><%= category.name %></h3>
                        <textarea class ="my_text" id="my_text<%= category.id %>"><%= category.description %></textarea>
                        <p>
                            <a href="/categories/<%= category.id %>" class="btn btn-primary">Explore Now!</a><button class="btn btn-primary" id="clickme<%= category.id %>">Read it out!</button>

                        </p>
                    </div>
                </div>
            </div>
<% end %>            
        </div>
        <!-- /.row -->

        <hr>

    